.search-container {
    width: 100%;
    max-width: 480px;
}

.search-input {
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: var(--element);
    color: var(--text);
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.05);
}

.search-input::placeholder {
    color: var(--input);
}

.search-input:focus {
    outline: none;
}