body {
  margin: 0;
  min-height: 100vh;
  background-color: #f8f9fa;
}

/* index.css or App.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}


.wrapper{
  padding: 0 3rem 0 3rem;
}
.controls{
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
}

