.wrapper {
    padding: 3rem 1rem;
    max-width: 1280px;
    margin: 0 auto;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .wrapper {
        padding: 3rem 5rem;
    }

    .controls {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.country-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}

@media (min-width: 640px) {
    .country-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .country-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1280px) {
    .country-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
